body{
    background-color: #FAFAFA;
    
}
    .box{
      position: relative;
      left: 80px;
      top: 80px;
      width: 50px;
      height:50px;
      background: red;
      animation: minhaAnimacao: 40s linear infinite;
    }

@keyframes minhaAnimação {
    0% {transform: minhaAnimação(0deg); background: red;}
    25% {transform: minhaAnimação(90deg); background: orange;}
    50% {transform: minhaAnimação(180deg); background: yellow;}
    75% {transform: minhaAnimação(270deg); background: blue;}
    100% {transform: minhaAnimação(360deg); background: red;}   
}
