body{
    background-color: #FAFAFA;
    
}
    .box{
      position: relative;
      left: 80px;
      top: 80px;
      width: 50px;
      height:50px;
      background: red;
      animation-name: minhaAnimacao;
      animation-duration: 5s;
    }
.box: hover{
    border: solid 5px black;
    transition: border 3s 2s;
}

    @keyframes minhaAnimacao{
        from{
            Left: 80px;
        }
        to{
            Left: 100px;
            background: blue;
            border-radius: 100px;
        }
    }
